*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Arial";
    font-style: normal;
}

body{
    background-color: #f5f5f5;
    font-family: "Roboto Slab";
}

.container {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.10);
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    background-color: #fff;
}

header img{
    width: 110px;
}

.links{
  display: flex;
  gap: 10px;
  list-style: none;
}

.links li, a{
    text-decoration: none;
    color: #333;
}

.margin-bottom{
    margin-bottom: 20rem;
}


.casamento-conteudo{
    background-color: #f5f5f5;
    background-image: url('../img/img-casamento.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    padding-bottom: 80px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
}



.secao {
 text-align: center;
 padding-top: 20rem;
 color: #fff;
}


.secao h1{
    font-family: "Roboto 2";
    font-size: 80px;
    font-weight: 300;
    letter-spacing: 1.1px;
}

.secao .paragrafo {
   font-weight: 300;
   font-size: 30px;
} 

.flex {
    display: flex;
    justify-content: center;
    gap: 35px;
    padding-bottom: 3rem;
    margin-top: 5px;
    flex-wrap: wrap;
}

.flex .item{
    background-color: #fff;
    padding-bottom:20px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    text-align: center;
}

.item h4{
    font-family: "Roboto 2";
    margin-top: 8px;
    font-weight: 300;
    font-size: 18px;
}




.item .img-casamento{
    width: 240px;
    height: 180px;
}

.item .sub-paragrafo{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10.5px;
  margin-top: 8px;
  letter-spacing: 2px;
}


.icones{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 10px;
}

.trabalho{
    margin-top: 2rem;
}

.fundo-branco{
    background-color: #fff;
    width: 100%;
    text-align: center;
    padding: 30px;
}
.fundo-branco .texto-sobre{
    width: 100%;
    max-width: 800px;
    margin: auto;
   margin-top: 2rem;
}

.fundo-formulario{
    background-image: url("../img/foto-formulario.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100%;
    width: 100%;
    padding: 40px;
}

.form-casamento{
    background-color: #bbbbbb90;
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 4px;
}

.form-casamento .img-logo{
    width: 130px;
}


.form-group input, textarea{
    font-family: "Arial";
    font-size: 16px;
    padding: 10px;
    width: 100%;
    max-width: 335px;
    margin-bottom: 1rem;
    border: none;
    outline-style: none;
    border: 1px solid rgba(255, 199, 0, 0.4);
    border-radius: 4px;
}

.form-group input::placeholder , textarea::placeholder{
    color: #bbbbbb;
}

.btn-form{
    font-family: "Arial";
    background-color: #404040;
    color: #fff;
    padding: 7px 20px;
    transition: .5s;
    border-radius: 4px;
}
.btn-form:hover{
    background-color: rgba(255, 199, 0, 0.4);
    color: #404040;
}

.form-branco{
    background-color: #fff;
    text-align: center;
    padding-top: 30px;
}

.form-branco h3{
    margin-bottom: 10px;
}